.header__lang-link {
    text-decoration: none;
    color: #fff;
    max-width: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}


@media (max-width: 560px) {
    .header__lang-link {
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .header__lang-link {
        font-size: 18px;
    }
}