.places {
    display: grid;
    grid-row-gap: 80px;
    padding: 92px 0 92px;
    width: calc(100% - 148px * 2);
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .places {
        width: calc(100% - 48px * 2);
    }
}

@media (max-width: 768px) {
    .places {
        width: calc(100% - 24px * 2);
        grid-row-gap: 73px;
        padding-top: 90px;
        padding-bottom: 70px;
    }
}

@media (max-width: 320px) {
    .places {
        width: 100%;
        grid-row-gap: 52px;
        padding-top: 64px;
    }
}