.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px 0 0 0;
    padding: 0;
    max-width: 360px;
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 256px;
        margin: 0;
        padding-top: 20px;
    }
}