.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px 0 0 0;
    padding: 0;
    max-width: 375px;
    color: #FFFFFF;
    z-index: 1;
}

@media (max-width: 768px) {
    .cover__subtitle {
        max-width: 375px;
    }
}

@media (max-width: 400px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 275px;
        margin-top: 0;
        padding-top: 20px;
    }
}