.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    width: 100%;
    margin: 56px auto 0 auto;
    padding: 0;
}

@media (max-width: 1024px) {
    .lead__title {
        margin-top: 48px;
    }
}


@media (max-width: 700px) {
    .lead__title {
        font-size: 52px;
        line-height: 70px;

    }
}

@media (max-width: 400px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        margin-top: 48px;
    }
}