.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    padding: 0;
    margin: 0 0 0 0;
    /* margin-top: 0.5em; */
    /* Отступ сверху */
    margin-bottom: 1.3em;
    /* Отступ снизу */


}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 320px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}