.footer__copyright {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media (max-width: 600px) {
    .footer__copyright {
        padding-top: 48px;
        line-height: 14px;

    }
}

@media (max-width: 320px) {
    .footer__copyright {
        padding-top: 48px;
        line-height: 14px;

    }
}