.lead__image {
    width: 100%;
    object-fit: cover;
    margin: 64px 0 0 0;
}

@media (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media (max-width: 320px) {
    .lead__image {
        margin-top: 40px;
        min-height: 200px;
    }
}