.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    margin: 32px auto 0 auto;
    padding: 0;
}

@media (max-width: 700px) {
    .lead__subtitle {
        font-size: 22px;
    }
}


@media (max-width: 400px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}