.cover {
    position: relative;
    display: flex;
    /* max-width: 1184px; */
    width: calc(100% - 48px * 2);
    min-height: 740px;
    flex-direction: column;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

@media (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media (max-width:768px) {
    .cover {
        width: 100%;
        min-height: 480px;

    }
}

@media (max-width: 320px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}