.header__lang-links-area {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}