.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAA;
    margin: 0;
    padding: 12px 0;
    text-transform: uppercase;
}


@media (max-width: 768px) {
    .place__url-heading {
        padding-top: 0px;

    }
}